{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
{% for prod in products %}
    <div class="col-lg-3 col-md-6 col-12">
        <div class="single-product">
            <div class="product-image">
                <a href="{% url 'prod_detail' prod.id %}"><img style="height: 300px;" src="{{prod.product_image.url}}" alt="#"></a>
            </div>
            <div class="product-info">
                <span class="category">{{prod.category}}</span>
                <h4 class="title">
                    <a href="{% url 'prod_detail' prod.id %}">{{prod.name}}</a>
                </h4>
                <div class="price">
                    <span>₹ {{prod.price}}</span>
                </div>
            </div>
        </div>
        <!-- End Single Product -->
    </div>
{% endfor %}
</div>
</div>

{% endblock content %}