{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock css %}

{% block content %}

<section class="shop checkout section">
    <div class="container">
        <form class="form" method="post" action="{% url 'place_order' %}">
            {% csrf_token %}
            <div class="row"> 
            
                <div class="col-lg-8 col-12 bg-card" >
                <div class="checkout-form">
                    <h2>Make Your Checkout Here</h2>
                    <br>
                    <!-- Form -->
                    
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Name<span>*</span></label>
                                    <input type="text" name="name" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Email Address<span>*</span></label>
                                    <input type="email" name="email" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Phone Number<span>*</span></label>
                                    <input type="tel" name="number" maxlength="10" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>City<span>*</span></label>
                                    <input type="text" name="city" placeholder="" required="required">
                                </div>
                            </div>                        
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Address Line 1<span>*</span></label>
                                    <input type="text" name="address1" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Address Line 2<span></span></label>
                                    <input type="text" name="address2" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>Postal Code<span>*</span></label>
                                    <input type="text" name="pin" placeholder="" required="required">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <div class="form-group">
                                    <label>State<span>*</span></label>
                                    <input type="text" name="state" placeholder="" required="required">
                                </div>
                            </div>
                        </div>
                </div>
                </div>
                <div class="col-lg-4 col-12">
                <div class="order-details">
                    <!-- Order Widget -->
                    <div class="single-widget">
                        <h2>CART  TOTALS</h2>
                        <div class="content">
                            <ul>
                                
                                <li class="last">Total<span>₹{{request.session.totalprice}}</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-widget">
                        <h2>Payments</h2>
                        <br>
                        <div class="container">                      
                            <ul>
                                <li>
                                    <input type="radio" id="f-option" name="selector1" value="cod">
                                    <label class="labelForm" for="f-option" name="selector">Cash On Delivery</label>
                                    <div class="check"></div>
                                </li>

                                <li>
                                    <input type="radio" id="s-option" name="selector2" value="Razorpay">
                                    <label class="labelForm" for="s-option">Razorpay</label>  
                                    <div class="check"><div class="inside"></div></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/ End Order Widget -->
                    <!-- Payment Method Widget -->
                    <div class="single-widget payement">
                        <div class="content">
                            <img src="{% static 'images/logo/payment-method.png' %}" alt="Logo">
                        </div>
                    </div>
                    <!--/ End Payment Method Widget -->
                    <!-- Button Widget -->
                    <div class="single-widget get-button">
                        <div class="content">
                            <div class="button">
                                {% comment %} <a href="#" class="btn">proceed to checkout</a> {% endcomment %}
                                <input type="submit" value="Proceed to checkout" class="btn btn-primary w-100">
                            </div>
                        </div>
                    </div>
                    <!--/ End Button Widget -->
                </div>
            
            </div>
        </form>
        
    </div>
</section>
<!--/ End Checkout -->

{% endblock content %}