{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="item-details section">
    <div class="container">
        <div class="top-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-images">
                        <main id="gallery">
                            <div class="main-img">
                                <img src="{{product.product_image.url}}" id="current" alt="#">
                            </div>
                        </main>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="product-info">
                        <h2 class="title">{{product.name}}</h2>
                        <p class="category"><i class="lni lni-tag"></i> Category:<a href="javascript:void(0)">
                             {{product.category}}</a></p>
                        <h3 class="price">Rs.{{product.price}}<span>Rs.945</span></h3>
                        <p class="info-text">{{product.description}}</p>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="form-group quantity">
                                    <label for="color">Quantity</label>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </select>
                                </div>
                            </div>
                            {% comment %} <div class="form-group">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="button cart-button">
                                        <button class="btn" style="width: 100%;">Add to Cart</button>
                                    </div>
                                </div>
                            </div> {% endcomment %}                      
                        </div>
                         <div class="bottom-content">
                            <div class="row align-items-center">
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="button cart-button">
                                        <button class="btn" style="width: 100%;">Add to Cart</button>
                                    </div>
                                </div>
                                {% comment %} <div class="col-lg-4 col-md-4 col-12">
                                    <div class="wish-button">
                                        <button class="btn"><i class="lni lni-reload"></i> Compare</button>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="wish-button">
                                        <button class="btn"><i class="lni lni-heart"></i> To Wishlist</button>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        {% comment %} <div class="product-details-info">
            <div class="single-block">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <div class="info-body custom-responsive-margin">
                            <h4>Details</h4>
                            <p>CLEARGEL GEL contains Clindamycin, which belongs to the group of medicines called Antibiotics. It is used in the treatment of acne vulgaris. Acne vulgaris is a common skin condition that occurs when hair follicles get blocked with oil and dead skin cells. Symptoms include whiteheads, blackheads, small red, tender bumps, pimples, and pus-filled lumps on the skin.<br>

                                Before applying CLEARGEL GEL, inform your doctor if you have or ever had diarrhea, bloody diarrhea and pseudomembranous colitis. CLEARGEL GEL is not recommended for use if you have a history of regional enteritis (inflammation of the small intestine), ulcerative colitis (inflammation of the large intestine) or antibiotic-associated colitis.
                                
                            <h4>Uses</h4>
                            <ul class="features">
                                <li>Treats acne vulgaris</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="info-body">
                            <h4>HOW IT WORKS</h4>
                            <p>CLEARGEL GEL acts against the bacteria by binding to the 50S subunit of the bacterial ribosome (site of protein synthesis),
                                 which in turn prevents protein synthesis and kills the infection-causing bacteria.</p>
                            <ul class="normal-list">
                                <li><span>Weight:</span> 35.5oz (1006g)</li>
                                <li><span>Maximum Speed:</span> 35 mph (15 m/s)</li>
                                <li><span>Maximum Distance:</span> Up to 9,840ft (3,000m)</li>
                                <li><span>Operating Frequency:</span> 2.4GHz</li>
                                <li><span>Manufacturer:</span> GoPro, USA</li>
                            </ul>
                            <h4>Side Effects:</h4>
                            <ul class="features">
                                <li>Abdominal pain</li>
                                <li>Diarrhea</li>
                                <li>Oily skin</li>
                                <li>Antibiotic-associated colitis</li>
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </div>
</section>

<!-- Review Modal -->
<div class="modal fade review-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Leave a Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review-name">Your Name</label>
                            <input class="form-control" type="text" id="review-name" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review-email">Your Email</label>
                            <input class="form-control" type="email" id="review-email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review-subject">Subject</label>
                            <input class="form-control" type="text" id="review-subject" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="review-rating">Rating</label>
                            <select class="form-control" id="review-rating">
                                <option>5 Stars</option>
                                <option>4 Stars</option>
                                <option>3 Stars</option>
                                <option>2 Stars</option>
                                <option>1 Star</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="review-message">Review</label>
                    <textarea class="form-control" id="review-message" rows="8" required></textarea>
                </div>
            </div>
            <div class="modal-footer button">
                <button type="button" class="btn">Submit Review</button>
            </div>
        </div>
    </div>
</div>
<!-- End Review Modal -->

{% endblock content %}