{% extends 'base.html' %}
{% load static %}

{% block content %}
<br><br>

<div class="container">
    {% if result %}
    <div style="background-color:white; width:100%; height:50px; color:navy; font-size:1.5rem; font-weight:bold; text-align:center;">
        <span>The products we have, based on your uploaded prescription.....</span>
    </div>
    <div class="row">
        
        {% for prods in result %}
                {% for items in prods %}

                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-product">
                
                            <div class="product-image">
                                <a href="{% url 'prod_detail' items.id %}"><img style="height: 300px;" src="{{items.product_image.url}}" alt="#"></a>
                            </div>
                            <div class="product-info">
                                <span class="category">{{items.category}}</span>
                                <h4 class="title">
                                    <a href="{% url 'prod_detail' items.id %}">{{items.name}}</a>
                                </h4>
                                <div class="price">
                                    <span>₹ {{items.price}}</span>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Product -->
                    </div>
                {% endfor %}
            
            {% endfor %}
        {% else %}
            <div class="">
                <div class="single-product">
        
                    <div class="product-image">
                        <center><h1>No Products Found!!!!</h1>
                        <h2>Will Be adding them soon....</h2></center>
                    </div>

                </div>
                <!-- End Single Product -->
            </div>
        
        {% endif %}
        

</div><br>
{% if not_found %}
            <div style="background-color:white; width:100%; height:50px; color:red; font-size:1.5rem; font-weight:bold; text-align:center;">
                <span>These items are not availaible with us : <span>
            </div>
            <div class="row">
            {% for i in not_found %}
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-product">
                        <div class="product-info">
                            <h4 class="title">
                                <a href="">{{i}}</a>
                            </h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
<br>
</div>

{% endblock content %}

