{% extends 'base.html' %}
{% load static %}

{% block css %}
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
<link rel="stylesheet" href={% static "css/login.css" %}>
{% endblock css %}

{% block content %}
    <div class="wrapper">
      <h1>Hello Again!</h1>
      <p>
        Welcome back you've <br />
        been missed!
      </p>

      {% if messages %}
        {% for message in messages %}
          <p class={{message.tags}} style="color: red;">{{message}}</p>
        {% endfor %}
      
      {% endif %}


      <form action="{% url 'signin' %}" method="post" onsubmit="validatel_login()">
        {% csrf_token %}
        <input type="text" name="email" id="email" placeholder="Enter email" onchange="validate_register()"/>
        <label for="" id="email_error" class="text-danger"></label>

        <input type="password" name="password1" id="password1" placeholder="Password" onchange="validate_register()"/>
        <label for="" id="password1_error" class="text-danger"></label>
        <closeform></closeform>
        <button type="submit">Log in</button>
      </form>
      
      <div class="not-member">Not a member? <a href="{% url 'register' %}">Register Now</a></div>
    </div>

{% endblock content %}

{% block js %}
    <script src={% static 'js/user_form.js' %}></script>
{% endblock js %}


